@font-face {
    font-family: "ProstoOne";
    src: url(../Prosto_One/ProstoOne-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../Montserrat/static/Montserrat-Regular.ttf);
}